.my_back{
    --background: url('src/assets/logo/back.jpg');
}
ion-header{
    background-color: black;
}
.abcd{
   width: 50%;
   height: 141px;
   margin: auto;
   alt:"Avatar";
   border-radius: 50%;
}