<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-grid>
    <div text-centre>
      <h3>Enter your credentials</h3>
    </div>

    <ion-item>
        <img class="abcd" src="https://cdn.pixabay.com/photo/2018/04/18/18/56/user-3331256_1280.png"alt="Avatar">
    </ion-item>
    <ion-col>
        <ion-label>Username</ion-label>
        <ion-input placeholder="Username"></ion-input>
      
    </ion-col>
    <ion-col>
      <ion-label>Password</ion-label>
      <ion-input placeholder="Password" type="Password"></ion-input>
  </ion-col>
  <ion-button expand="full">Full Button</ion-button>
  </ion-grid>

</ion-content> -->





<ion-content class="my_back">
  
  <form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Enter your credentials</h3>
          </div>
          <!-- <ion-item>
            <img class="abcd" src="https://cdn.pixabay.com/photo/2018/04/18/18/56/user-3331256_1280.png"alt="Avatar">
          </ion-item> -->
          <div padding>
            <ion-item> 
              <ion-input name="email" type="email" placeholder="Email" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  size="medium" type="submit" [disabled]="form.invalid" expand="block">Login
              <ion-icon name="log-in-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>