<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
 <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


    <ion-content class='my-view'>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <p  class='fresh'>FRESH MART</p>
              <p class='fresh-sub'>ready before u</p>
             </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="abc">
              <ion-button expand='block'>LOG IN</ion-button>
          </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class='msg-register' size='6' offset='2'>
            <p>Don't have an account ? <p>
          </ion-col>
          <ion-col class='register' size='3'>
           <ion-label>Register</ion-label> 
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    
  

